<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a5a5lab.module.order.OrderDao">

	<resultMap id="resultMapObj" type="com.a5a5lab.module.order.OrderDto"></resultMap>
		
	
	
	<!-- 공통 FROM 및 JOIN -->
	<sql id="selectCommon">
		FROM `order` a
		LEFT JOIN member b ON a.member_memSeq = b.memSeq
		LEFT JOIN order_detail od ON a.orderSeq = od.order_orderSeq
		LEFT JOIN shoes c ON od.shoes_shSeq = c.shSeq
	
		<!-- 코드 그룹 조인 -->
		LEFT JOIN code cd1 ON a.deliveryStatus = cd1.cdSeq AND cd1.codeGroup_cdgSeq = 6     <!-- 배송 상태 -->
		LEFT JOIN code cd2 ON a.paymentStatus = cd2.cdSeq AND cd2.codeGroup_cdgSeq = 4      <!-- 결제 상태 -->
		LEFT JOIN code cd3 ON a.orderTypeCd = cd3.cdSeq AND cd3.codeGroup_cdgSeq = 7        <!-- 주문 유형 -->
		LEFT JOIN code cd4 ON c.shSizeCd = cd4.cdSeq AND cd4.codeGroup_cdgSeq = 3           <!-- 신발 사이즈 -->
		LEFT JOIN code cd5 ON c.shBrandCd = cd5.cdSeq AND cd5.codeGroup_cdgSeq = 1          <!-- 신발 브랜드 -->
		LEFT JOIN code cd6 ON c.shTypeCd = cd6.cdSeq AND cd6.codeGroup_cdgSeq = 2           <!-- 신발 타입 -->
		
		LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}
	</sql>
	
	<!-- 주문내역 리스트 -->
	<select id="selectList" resultMap="resultMapObj">
		select
			a.orderSeq,
		    c.memName,
		    c.memId,
		    c.memAddress,
			a.regDateTime,
		    a.deliveryStatus,
		    a.paymentStatus
		from
			`order` AS a
		left join member AS c ON a.member_memSeq= c.memSeq
		WHERE 1=1

		order By orderSeq DESC

		LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}
	</select>

		<!-- 카운트 -->
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
	<!-- 주문상세페이지 -->
	<!--한개의 주문번호 불러오기 -->
	<select id="selectOne" resultMap="resultMapObj">
	select
			a.orderSeq,
		    c.memName,
		    c.memId,
		    c.memAddress,
		    c.memTel,
			a.regDateTime,
		    a.deliveryStatus,
		    a.paymentStatus
		from
			`order` AS a
		left join member AS c ON a.member_memSeq= c.memSeq
		WHERE 
			a.orderSeq= #{orderSeq}
	</select>
	<!--불러온 주문번호의 상세목록-->
	<select id="orderDetailList" resultMap="resultMapObj">
		   select
		   	b.orderDetailSeq,
			a.shBrandCd,
	        a.shTypeCd,
	        a.shName,
	        a.shSizeCd,
	        b.shOrderCount,
	        a.shPrice * b.shOrderCount AS sumPrice,
	        c.orderSeq
	        
		FROM
			shoes AS a
		left join order_detail AS b ON a.shSeq = b.shoes_shSeq
		left join `order` AS c ON c.orderSeq = b.order_orderSeq
	    where
			order_orderSeq = #{orderSeq}
	</select>
	
	
	
	<!-- 창고재고관리 -->
	<select id="storageList" resultMap="resultMapObj">
		select
			shSeq,
		    shName,
		    shSizeCd,
		    shBrandCd,
		    shTypeCd,
		    salesStatus,
		    regDateTime,
		    modDateTime,
		    shDelNy,
		    shCount,
		    shPrice
		FROM
			shoes
		WHERE 1=1
		ORDER BY shSeq DESC
		LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql} 
	</select>
	
	
	
		
		
		
		
	
	
</mapper>