<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a5a5lab.module.order.OrderDao">

	<resultMap id="resultMapObj"
		type="com.a5a5lab.module.order.OrderDto"></resultMap>





	<!-- 주문내역 리스트 -->
	<select id="selectList" resultMap="resultMapObj">
		select
		a.orderSeq,
		a.orderTypeCd,
		a.orderDelNy,
		c.memName,
		c.memId,
		c.memAddress,
		a.regDateTime,
		a.deliveryStatus,
		a.paymentStatus,
		a.orderStatusCd
		from
		`order` AS a
		left join member AS c ON a.member_memSeq= c.memSeq
		WHERE 1=1
		<!-- 업데이트 삭제 여부 검색 -->
	    <if test="shDelNy != null and !shDelNy.equals('')">AND a.orderDelNy = #{shDelNy}</if>  
		

		
		<!-- 날짜 검색 기능 -->
		<choose>
			<when test="shOptionDate == 1">AND a.regDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND a.modDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
		
		<!-- 검색 구분 검색 -->
		<choose>
        	<when test="shOption == 1">AND c.memId LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 2">AND c.memName LIKE CONCAT('%',#{shValue},'%')</when>
            
        </choose>
        
        <!-- 검색구분 배송상태 배송전 배송완료 기능 -->
        <choose>
			<when test="deliveryS == 18">AND a.deliveryStatus BETWEEN #{deliveryS} AND #{deliveryS}</when>
			<when test="deliveryS == 19">AND a.deliveryStatus BETWEEN #{deliveryS} AND #{deliveryS}</when>
		</choose>
		
		AND a.orderTypeCd = 20
		
		 
		
		order By orderSeq DESC

		LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}
	</select>
	<!-- 주문내역 목록 업데이트 삭제-->
	<update id="uelete">
		UPDATE `order` SET
			orderDelNy = 1
		WHERE
			orderSeq IN
	    <foreach collection="list" item="id" open="(" separator="," close=")"> #{id} </foreach>
	</update>

	<!-- 주문카운트 -->
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		FROM
		`order`
		WHERE 1=1
		AND orderTypeCd = 20
	</select>
	<!-- 주문상세상품카운트 -->
	<select id="selectOneOrderDetailCount" resultType="Integer">
		SELECT
		COUNT(*)
		FROM
		order_detail
		WHERE 1=1
		AND order_orderSeq = #{orderSeq}
	</select>
	<!-- 상품카운트 -->
	<select id="selectOneProductCount" resultType="Integer">
		SELECT COUNT(*)
		FROM
		shoes
	</select>
	<!-- 발주 카운트 -->
	<select id="selectOneOrderingCount" resultType="Integer">
		SELECT COUNT(*)
		FROM
		`order`
		WHERE 1=1
		AND orderTypeCd = 21
	</select>

	<!-- 주문상세페이지 -->
	<!--한개의 주문번호 불러오기 -->
	<select id="selectOne" resultMap="resultMapObj">
		select
		a.orderSeq,
		c.memName,
		c.memId,
		c.memAddress,
		c.memTel,
		a.regDateTime,
		a.deliveryStatus,
		a.paymentStatus
		from
		`order` AS a
		left join member AS c ON a.member_memSeq= c.memSeq
		WHERE
		a.orderSeq= #{orderSeq}
	</select>
	<!--불러온 주문번호의 상세목록 -->
	<select id="orderDetailList" resultMap="resultMapObj">
		select
		b.orderDetailSeq,
		a.shBrandCd,
		a.shTypeCd,
		a.shSeq,
		a.shName,
		a.shSizeCd,
		b.shOrderCount,
		a.shCount,
		a.shPrice * b.shOrderCount AS sumPrice,
		c.orderSeq
		FROM
		shoes AS a
		left join order_detail AS b ON a.shSeq = b.shoes_shSeq
		left join
		`order` AS c ON c.orderSeq = b.order_orderSeq
		where
		order_orderSeq = #{orderSeq}
	</select>



	<!-- 창고재고관리 -->
	<select id="storageList" resultMap="resultMapObj">
		select
		shSeq,
		shName,
		shSizeCd,
		shBrandCd,
		shTypeCd,
		salesStatus,
		regDateTime,
		modDateTime,
		shDelNy,
		shCount,
		shPrice
		FROM
		shoes
		WHERE 1=1
		ORDER BY shSeq DESC
		LIMIT #{rowNumToShow} OFFSET
		#{startRnumForMysql}
	</select>

	<!-- 발주 내역 리스트 -->
	<select id="FactoryOrderList" resultMap="resultMapObj">
		select
			a.orderSeq,
		    d.shName,
		    d.shBrandCd,
		    d.shSizeCd,
		    d.shTypeCd,
		    c.shOrderCount,
		    a.regDateTime,
		    b.memName,
		    a.orderStatusCd
		FROM
			`order` AS a
		left join member AS b ON a.member_memSeq = b.memSeq
		left join order_detail AS c ON a.orderSeq = c.order_orderSeq
		left join shoes AS d ON c.shoes_shSeq = d.shSeq
		WHERE 1=1
		AND	a.orderTypeCd =21
		LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}
	</select>
	
	<!-- 발주 등록하기 -->
	<insert id="insert">
		INSERT INTO 'order'(
			shName,
			shBrandCd,
			shSizeCd,
			shTypeCd,
			shOrderCount,
			regDateTime,
			memName
			
		) value (
			#{shName},
			#{shBrandCd},
			#{shSizeCd},
			#{shTypeCd},
			#{shOrderCount},
			NOW(),
			#{memName}
				
		)
		
	<selectKey resultType="String" keyProperty="orderSeq" order="AFTER">
	    SELECT last_insert_id()
	</selectKey>
	</insert>
	
			






</mapper>