<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{xdm/include/head :: head}"></div>

	<form name="formList" id="formList" method="post" autocomplete="off">
<!-- 		<input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1"/> -->
<!-- 		<input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}"/> -->
		<input type="hidden" name="orderSeq">
		<input type="hidden" name="order_orderSeq">
    <section class="content">
        <div class="container-fluid">
            
            <div class="block-header">
                <h2>입출고내역</h2>
            </div>

            <!-- Input -->
			<div class="row clearfix">
			    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			        <div class="card">
			            <div class="body" style="font-size: 15px;">
			                
			                <!-- 주문정보 헤더 -->
			                <div style="margin-bottom: 20px;">
			                    <strong style="font-size: 18px;">출고번호 <span th:text="${item.orderSeq}"></span></strong><br>
			                    <br>
			                    작업자:<span th:text="${item.memName}"></span> / <span th:text="${item.memTel}"></span>
			                </div>
			
			                <!-- 상세 정보 -->
			                <div class="table-responsive">
			                    <table class="table table-borderless">
			                        <tbody>
			                            <tr>
			                                <th class="col-sm-2">NO</th>
			                                <td class="col-sm-4" th:text="${item.orderSeq}"></td>
			                                <th class="col-sm-2">전화번호</th>
			                                <td class="col-sm-4" th:text="${item.memTel}"></td>
			                            </tr>
			                            <tr>
			                                <th>받는사람</th>
			                                <td th:text="${item.memName}"></td>
			                                <th>결제상태</th>
			                                <td th:text="${@codeService.selectOneCachedCode(item.paymentStatus)}"></td>
			                            </tr>
			                            <tr>
			                                <th>배송지</th>
			                                <td  th:text="${item.memAddress}"></td>
			                                <th>배송상태</th>
			                                <td  th:text="${@codeService.selectOneCachedCode(item.deliveryStatus)}"></td>
			                                
			                            </tr>
			                            <!-- <tr>
			                                <th>출입방법</th>
			                                <td colspan="3">1</td>
			                            </tr> -->
			                        </tbody>
			                    </table>
			                </div>
			
			            </div>
			        </div>
			    </div>
			</div>




            
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <div class="table-responsive">
                            <div class="col-sm-2">
                                        	<strong>Total:<span ></span></strong>
                                        </div>					<!-- js-basic-example 들어가면 페이징 가능-->
                            			<!-- <div class="col-sm-2"  style="float: right;">
                                            <select class="form-select form-select-sm" id="changeRowNum" name="changeRowNum">
												<option value="5" >5</option>
												<option value="10" >10</option>
												<option value="30" >30</option>
												<option value="50" >50</option>
												<option value="80" >80</option>
												<option value="100">100</option>       
											</select>
                                        </div> -->
                                <table class="table table-bordered table-striped table-hover  dataTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input class="form-check-input" type="checkbox" id="entire">
                                                <label class="form-check-label" for="entire"></label>
                                            </th>
                                            <th>NO</th>
                                            <th>브랜드</th>
                                            <th>신발타입</th>
                                            <th>신발이름</th>
                                            <th>신발사이즈</th>
                                            <th>수량</th>
                                                                                       
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${#lists.isEmpty(list)}"  class="hover-artions-trigger btn-reveal-trigger position-static">    	
                                    		 <td colspan="10">
                                    			<p class="fs-0" style="padding-top: 12px">데이터가 없습니다</p>
                                    		</td> 
                                    	</tr>
                                        <tr th:if="${!#lists.isEmpty(list)}" th:each="list : ${list}">
                                            <td>
                                                <input class="form-check-input row-checkbox" id="1" type="checkbox">
                                                <label class="form-check-label" for="1"></label>
                                            </td>
                                            <td th:text="${list.orderSeq}" ></td>
                                            <td	th:text="${@codeService.selectOneCachedCode(list.shBrandCd)}"></td>
                                            <td th:text="${@codeService.selectOneCachedCode(list.shTypeCd)}"></td>
                                            <td th:text="${list.shName}"></td>
                                            <td th:text="${@codeService.selectOneCachedCode(list.shSizeCd)}"></td>
                                            <td th:text="${list.shOrderCount}"></td>
                                            
                                        </tr>
<!--                                     <tr class="hover-artions-trigger btn-reveal-trigger position-static">    	 -->
<!--                                     		<td colspan="10"> -->
<!--                                     			<p class="fs-0" style="padding-top: 12px">데이터가 없습니다</p> -->
<!--                                     		</td> -->
<!--                                     	</tr> -->
                                    </tbody>
                                </table>
                                <div style="text-align: end;"><strong>합계 금액:<span th:text="${totalSumPrice} + 원"></span></strong></div>
                                <!-- 페이지 네이션 -->
                                 <!-- <div style="text-align: center;">
								  <ul class="pagination" >
								  	  
									
									<li th:if="${vo.startPage gt vo.pageNumToShow}" class="page-item">
										<a class="page-link" href="javascript:goList(${vo.startPage - 1})" th:attr="onclick=|goList('${vo.startPage - 1}')|">
											<i>이전</i>
										</a>
									</li>
									<li th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}" th:classappend="${num eq vo.thisPage} ? active : ''" class="page-item">
										<a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}">${i.index}</a>
									</li>
									<li th:if="${vo.endPage ne vo.totalPages}" class="page-item" >
										<a class="page-link" th:attr="onclick=|goList('${vo.endPage + 1}')|">
											<i>다음</i>
										</a>
									</li>
								  
								  </ul>
								    
								</div> -->
                              
                                <!-- <a role="button" class="btn btn-danger waves-effect" style=" margin-right:  5px;" href="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                                    </svg>
                                </a> --><br>
                                <a role="button" class="btn btn-light" style="float: left; "th:href="@{/OrderXdmList}"> 
                                	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                                    </svg>
								</a>
                                <!-- <a role="button" class="btn btn-danger" href="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                      </svg>
                                    </a>
                                    리스트 추가 버트
                                <button class="btn btn-primary" type="button" style="float: right; margin-right:  5px;" id="btnForm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                                      </svg>
                                    </button>
                                <a class="btn btn-success" href="" role="button" style="float: right; margin-right:  5px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel" viewBox="0 0 16 16">
                                        <path d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z"/>
                                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                                      </svg>
                                    </a>                                
                                <a class="btn btn-primary" href="" role="button" style="float: right; margin-right:  5px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-type-underline" viewBox="0 0 16 16">
                                        <path d="M5.313 3.136h-1.23V9.54c0 2.105 1.47 3.623 3.917 3.623s3.917-1.518 3.917-3.623V3.136h-1.23v6.323c0 1.49-.978 2.57-2.687 2.57s-2.687-1.08-2.687-2.57zM12.5 15h-9v-1h9z"/>
                                      </svg>
                                    </a> -->   
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </section>
</body>
</form>
    <section class="content">
        <div class="container-fluid">
            
            
        </div>
    </section>
       
        <!-- Jquery Core Js -->
        <script src="/xdm/template/master/plugins/jquery/jquery.min.js"></script>

        <!-- Bootstrap Core Js -->
        <script src="/xdm/template/master/plugins/bootstrap/js/bootstrap.js"></script>
    
        <!-- Select Plugin Js -->
        <script src="/xdm/template/master/plugins/bootstrap-select/js/bootstrap-select.js"></script>
    
        <!-- Slimscroll Plugin Js -->
        <script src="/xdm/template/master/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    
        <!-- Waves Effect Plugin Js -->
        <script src="/xdm/template/master/plugins/node-waves/waves.js"></script>
    
        <!-- Jquery DataTable Plugin Js -->
        <script src="/xdm/template/master/plugins/jquery-datatable/jquery.dataTables.js"></script>
        <script src="/xdm/template/master/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
        <script src="/xdm/template/master/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
        <script src="/xdm/template/master/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
        <script src="/xdm/template/master/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
        <script src="/xdm/template/master/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
        <script src="/xdm/template/master/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
        <script src="/xdm/template/master/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
        <script src="/xdm/template/master/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
    
        <!-- Custom Js -->
        <script src="/xdm/template/master/js/admin.js"></script>
        <script src="/xdm/template/master/js/pages/tables/jquery-datatable.js"></script>
    
        <!-- Demo Js -->
        <script src="/xdm/template/master/js/demo.js"></script>
        
        
        
        <!-- datetimepicker 플러그인 추가 -->
		<script src="/xdm/jquery/datetimepicker-master/build"></script>
        
        <!-- 달력 플러그인 추가 -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
   
   
    <!--체크박스 전체 체크 단독 체크-->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const entireCheckbox = document.getElementById("entire");
            const rowCheckboxes = document.querySelectorAll(".row-checkbox");
    
            // 전체 선택 체크박스 클릭 시
            entireCheckbox.addEventListener("change", function () {
                rowCheckboxes.forEach(checkbox => {
                    checkbox.checked = entireCheckbox.checked;
                });
            });
    
            // 개별 체크박스 클릭 시 전체 선택 체크박스 상태 변경
            rowCheckboxes.forEach(checkbox => {
                checkbox.addEventListener("change", function () {
                    entireCheckbox.checked = [...rowCheckboxes].every(chk => chk.checked);
                });
            });
        });
    </script>
    
<!--        <script type="text/javascript">
    	// 페이지네이션 자바 스크립
	    let form = document.querySelector("form[name=formList]");
	 	goList = function (thisPage) {
	     document.querySelector("input[name=thisPage]").value = thisPage;
	     form.action = "/code/codeXdmList";
	     form.submit();
	 }  

    
    </script> -->
<!--          <script type="text/javascript">
         document.getElementById("btnReset").onclick = function () {
   		  window.location.href = "/code/codeXdmList";
   		};
   		/* 검색하기 */
   		document.getElementById("btnSearch").onclick = function () {
   		    let shValue = document.getElementById("shValue"); // 검색어 

   		    // 데이터 값이 있을 경우 폼 제출
   		    form.action = "/code/codeXdmList";
   		    form.submit();
   		};

   		document.getElementById("changeRowNum").onchange = function () {
   		    document.getElementById("rowNumToShow").value = document.getElementById("changeRowNum").value;
   		    form.action = "/code/codeXdmList";
   		    form.submit();
   		}

   		let seq = document.querySelector("input[name=cdSeq]");  

   		document.getElementById("btnForm").onclick = function () {
   		    goForm(0);
   		}

   		goForm = function (keyValue) {
   		    seq.value = keyValue;
   		    form.action = "/code/CodeXdmForm";
   		    form.submit();
   		}
	    
    
    </script>  -->
    
     <script type="text/javascript">
    //달력 
    $.datetimepicker.setLocale('ko'); //번역기
    jQuery(function(){
    	 jQuery('#shDateStart').datetimepicker({
    	  format:'Y/m/d',
    	  onShow:function( ct ){
    	   this.setOptions({
    	    maxDate:jQuery('#shDateEnd').val()?jQuery('#shDateEnd').val():false
    	   })
    	  },
    	  timepicker:false
    	 });
    	 jQuery('#shDateEnd').datetimepicker({
    	  format:'Y/m/d',
    	  onShow:function( ct ){
    	   this.setOptions({
    	    minDate:jQuery('#shDateStart').val()?jQuery('#shDateStart').val():false
    	   })
    	  },
    	  timepicker:false
    	 });
    	});
    
    </script>
</body>
</html>
