<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebarPda">

	 <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
		<div>
		<strong>사용자: </strong>[[${session.sessNamePda}]]
		</div>
      <hr>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" th:href="@{/LnboundPad}">
          <i class="bi bi-box-arrow-right"></i>
          <span>입고 관리</span>
        </a>
      </li><!-- End Login Page Nav -->
      <li class="nav-item" >
        <a class="nav-link collapsed" th:href="@{/DeliveryPda}">
          <i class="bi bi-box-arrow-right"></i>
          <span>배송 관리</span>
        </a>
      <hr>
      </li><!-- End Login Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" id="btnSignout">
          <i class="bi bi-box-arrow-right"></i>
          <span>로그 아웃</span>
        </a>
      </li><!-- End Login Page Nav -->
    </ul>

  </aside><!-- End Sidebar-->
	
</th:block>
</html>