<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{pda/includePda/headPda :: headPda}"></div>

<body>

  <div th:replace="~{pda/includePda/headerPda :: headerPda}"></div>
  
  <div th:replace="~{pda/includePda/sidebarPda :: sidebarPda}"></div>
  

 
 

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>입고관리</h1>
    <!-- 
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">General</li>
        </ol>
      </nav>
      -->
      
    </div><!-- End Page Title -->

    <section class="section">
       <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body" style="padding: 10px; display: flex; gap: 10px;" >
              <div style=" background-color: #E3e2d9; height: 50px; width: 80px;">나이키</div>
              <div style="background-color: #E3e2d9; height: 50px; width: 80px;">아디다스</div>
              <div style="background-color: #E3e2d9; height: 50px; width: 80px;">아디다스</div>
            </div>
          </div>
        </div>
     </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">입고관리</h5>

              <!-- Default Table -->
              <table class="table" style="overflow: scroll;">
                <thead>
                  <tr>
                    <th >#</th>
                    <th >발주번호</th>
                    <th >상품명</th>
                    <th >수량</th>
                    <th >등록날짜</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th >1</th>
                    <td>A13204395</td>
                    <td>뉴발란스 992</td>
                    <td>28</td>
                    <td>2016-05-25</td>
                  </tr>
                  <tr>
                    <th >1</th>
                    <td>A13204395</td>
                    <td>뉴발란스 992</td>
                    <td>28</td>
                    <td>2016-05-25</td>
                  </tr>
                  <tr>
                    <th >1</th>
                    <td>A13204395</td>
                    <td>뉴발란스 992</td>
                    <td>28</td>
                    <td>2016-05-25</td>
                  </tr>
                  <tr>
                    <th >1</th>
                    <td>A13204395</td>
                    <td>뉴발란스 992</td>
                    <td>28</td>
                    <td>2016-05-25</td>
                  </tr>
                  <tr>
                    <th >1</th>
                    <td>A13204395</td>
                    <td>뉴발란스 992</td>
                    <td>28</td>
                    <td>2016-05-25</td>
                  </tr>
                  <tr>
                    <th >1</th>
                    <td>A13204395</td>
                    <td>뉴발란스 992</td>
                    <td>28</td>
                    <td>2016-05-25</td>
                  </tr>
                  <tr>
                    <th >1</th>
                    <td>A13204395</td>
                    <td>뉴발란스 992</td>
                    <td>28</td>
                    <td>2016-05-25</td>
                  </tr>
                  <tr>
                    <th >1</th>
                    <td>A13204395</td>
                    <td>뉴발란스 992</td>
                    <td>28</td>
                    <td>2016-05-25</td>
                  </tr>
                  <tr>
                    <th >1</th>
                    <td>A13204395</td>
                    <td>뉴발란스 992</td>
                    <td>28</td>
                    <td>2016-05-25</td>
                  </tr>
                  <tr>
                    <th >1</th>
                    <td>A13204395</td>
                    <td>뉴발란스 992</td>
                    <td>28</td>
                    <td>2016-05-25</td>
                  </tr>
                  <tr>
                    <th >1</th>
                    <td>A13204395</td>
                    <td>뉴발란스 992</td>
                    <td>28</td>
                    <td>2016-05-25</td>
                  </tr>
                  <tr>
                    <th >1</th>
                    <td>A13204395</td>
                    <td>뉴발란스 992</td>
                    <td>28</td>
                    <td>2016-05-25</td>
                  </tr>
                  <tr>
                    <th >1</th>
                    <td>A13204395</td>
                    <td>뉴발란스 992</td>
                    <td>28</td>
                    <td>2016-05-25</td>
                  </tr>
                  <tr>
                    <th >1</th>
                    <td>A13204395</td>
                    <td>뉴발란스 992</td>
                    <td>28</td>
                    <td>2016-05-25</td>
                  </tr>
                  <tr>
                    <th >1</th>
                    <td>A13204395</td>
                    <td>뉴발란스 992</td>
                    <td>28</td>
                    <td>2016-05-25</td>
                  </tr>
                  <tr>
                    <th >1</th>
                    <td>A13204395</td>
                    <td>뉴발란스 992</td>
                    <td>28</td>
                    <td>2016-05-25</td>
                  </tr>
                  <tr>
                    <th >1</th>
                    <td>A13204395</td>
                    <td>뉴발란스 992</td>
                    <td>28</td>
                    <td>2016-05-25</td>
                  </tr>
                  <tr>
                    <th >1</th>
                    <td>A13204395</td>
                    <td>뉴발란스 992</td>
                    <td>28</td>
                    <td>2016-05-25</td>
                  </tr>
                  <tr>
                    <th >1</th>
                    <td>A13204395</td>
                    <td>뉴발란스 992</td>
                    <td>28</td>
                    <td>2016-05-25</td>
                  </tr>
                </tbody>
              </table>
              <!-- End Default Table Example -->
            </div>
          </div>
        </div>
     </div>
    </section>

  </main><!-- End #main -->
  
  <div th:replace="~{pda/includePda/footerPda :: footerPda}"></div>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div th:replace="~{pda/includePda/scriptPda :: scriptPda}"></div>

</body>

</html>